

/* .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
} */

.CodeMirror {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 500px;
}

.code-box {
  /* grid-column: 1/2; */
  height: fit-content;
  background-color: #333;
  color: #fff;
  padding: 15px;
  overflow-x: auto;
  border-radius: 10px;
}

#codeBox-above-space {
  display: grid;
  grid-template-columns: auto 100px;
  gap: 10px;
}

.copy-code-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 5px 7px;
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 50%;
}

.copy-code-btn:hover {
  background-color: #006605;
}



/* @media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
}
 */
