/* Add your CSS styles here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #070034;
}

#home-page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'header header'
    'aside main'
    'aside footer';
}


main {
  grid-area: main;
  width: 100%;
  transition: margin-left 0.3s ease;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  padding: 5px;
  margin: 0 5px;
}

.CodeMirror {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 300px;
}

.code-box {
  /* grid-column: 1/2; */
  height: fit-content;
  background: #333;
  color: #fff;
  padding: 15px;
  overflow-x: auto;
  border-radius: 10px;
}

#codeBox-above-space {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  margin-bottom: -5px;
}

.ai-options-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 50%;
}

.ai-options-btn:hover {
  background-color: #006605;
}

.code-box .ai-options {
  display: none; 
  list-style-type: none;
  position: absolute;
  justify-self: self-end;
  background: #222;
  max-height: 250px;
  height: fit-content;
  overflow: auto;
  color: white;
  padding: 10px;
  border-radius: 10px 0 10px 10px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.1);
  margin-top: 48px;
  margin-right: 30px;
  z-index: 998;
}

.code-box button:hover + .ai-options,
.code-box .ai-options:hover {
  display: block;
}

.code-box .ai-options li {
  margin: 5px 0;
}

.code-box .ai-options li a {
  display: block;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  background: #333;
}

.code-box .ai-options li a:hover{
  background-color: #4a5d72;
}

#markdown-preview {
  /* min-height: fit-content; */
  /* height: fit-content; */
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 15px;
  background: #333;
  overflow-y: auto;
}

#markdown-preview .view-docs {
  display: grid;
  grid-template-columns: auto 100px;
  gap: 10px;
}

.view-docs-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 50%;
}

.view-docs-btn:hover {
  background-color: #006605;
}

#markdown-data-container {
  display: none;
  min-height: 550px;
  height: 550px;
  padding: 5px;
  overflow-y: auto;
  resize: vertical;
}
#markdown-data-container::-webkit-scrollbar {
  width: 7px;
}
#markdown-data-container::-webkit-scrollbar-track {
  background-color: #006605;
  border-radius: 10px;
}
#markdown-data-container::-webkit-scrollbar-thumb {
  background-color: #4caf50;
  border-radius: 10px;
}
/* #markdown-data-container::-webkit-scrollbar-thumb:hover {
  background-color: #053c07;
} */

/* Markdown Preview Styles */
#markdown-data-container h1 {
  font-size: 20px;
  color: #4caf50;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: underline;
}

#markdown-data-container h2 {
  font-size: 16px;
  color: #45a049;
  margin: 0.8em 0;
}

#markdown-data-container ul {
  margin-left: 20px;
}

#markdown-data-container li {
  margin: 0.5em 0;
}

#markdown-data-container code {
  background: #242430;
  padding: 2px 5px;
  border-radius: 3px;
}

footer {
  grid-area: footer;
  /* grid-column: span 2; */
}

/* Mobile styles */
@media (max-width: 480px) {
  .content {
    grid-template-columns: 1fr;
    margin: 0 5px;
  }
}
