/* Add your CSS styles here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #070034;
}

#home-page {
  display: grid;
  /* grid-template-rows: 50px auto 100px; */
  grid-template-rows: auto 1fr auto;
  /* grid-template-columns: 230px 1fr; */
  grid-template-columns: auto auto;
  grid-template-areas:
    'header header'
    'nav main'
    'nav footer';
  grid-gap: 5px;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 0;
  /* height: 100%;  */
  background-color: #000; 
  color: white; /* Text color */
}

#brand-logo {
  height: 60px;
  width: auto;
  /* padding: 15px 10px; */
  /* margin: 0 auto; */
  /* border-radius: 10px; */
  display: block;
}

@media (max-width: 480px) {
  #brand-logo {
    height: 50px;
    width: auto;
    padding: 0;
    margin: 0 auto;
    display: block;
  }
}


nav {
  grid-area: nav;
  /* background-color: #2c3e50;  */
  width: 230px;
  background-color: #333; 
  color: white;
  display: flex;
  flex-direction: column; 
  padding-top: 20px;
  gap: 15px; 
}

nav a {
  text-decoration: none;
  color: white;
  width: fit-content;
  margin-left: 5px;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #34495e; 
}

nav a:active {
  background-color: #1abc9c;
}

/* main{
  margin-left: 30px;
} */

.content {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.CodeMirror {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 300px;
}

.code-box {
  /* grid-column: 1/2; */
  height: fit-content;
  background-color: #333;
  color: #fff;
  padding: 15px;
  overflow-x: auto;
  border-radius: 10px;
  cursor: pointer;
}

#codeBox-above-space {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  margin-bottom: -5px;
}

.link-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 5px 7px;
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 50%;
}

.link-btn:hover {
  background-color: #006605;
}

/* .CodeMirror-vscrollbar,
.CodeMirror-hscrollbar {
  width: 0px;
} */

#markdown-preview {
  min-height: 550px;
  height: auto;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  background: #333;
  overflow-y: auto;
  resize: vertical;
}

/* Markdown Preview Styles */
#markdown-preview h1 {
  font-size: 20px;
  color: #4caf50;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: underline;
}

#markdown-preview h2 {
  font-size: 16px;
  color: #45a049;
  margin: 0.8em 0;
}

#markdown-preview ul {
  margin-left: 20px;
}

#markdown-preview li {
  margin: 0.5em 0;
}

#markdown-preview code {
  background: #242430;
  padding: 2px 5px;
  border-radius: 3px;
}

footer{
  grid-area: footer;
  /* grid-column: span 2; */
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
}
