/* Add your CSS styles here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #070034;
}

#home-page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto auto;
  grid-template-areas:
    'header header'
    'aside main'
    'aside footer';
}

header {
  grid-area: header;
  display: flex;
  justify-content: flex-start; 
  align-items: center;    
  gap: 15px;
  position: sticky;
  top: 0;
  background-color: #000;
  color: white; 
  overflow: hidden;
  z-index: 1000;
}

.menu-btn {
  font-size: 25px;
  padding: 10px;
  height: fit-content;
  align-self: center;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  /* margin-right: auto;  */
}

#brand-logo {
  height: 45px;
  width: auto;
  border-radius: 20px;
  display: block;
  padding: 7px 5px;
  /* margin-left: auto;  */
}

@media (max-width: 480px) {
  #brand-logo {
    height: 50px;
  }
}


.left-aside {
  /* grid-area: aside; */
  width: 250px;
  position: sticky;
  top: 0;
  background: #111111;
  color: white;
  height: fit-content;
  margin-top: -10px;
  transition: width 0.3s ease;
}

.left-aside.menu-close {
  width: 0;
  padding: 0;
}

.ai-selection {
  height: 100vh;
  min-height: calc(100vh - 60px);
  overflow-y: auto;
}
.ai-selection::-webkit-scrollbar {
  width: 7px;
}
.ai-selection::-webkit-scrollbar-track {
  background-color: #2c3e50;
  border-radius: 10px;
}
.ai-selection::-webkit-scrollbar-thumb {
  background-color: #4a5d72;
  border-radius: 10px;
}
.ai-selection::-webkit-scrollbar-thumb:hover {
  background-color: #5b6d82;
}

/* Icons styling */
.ai-selection i {
  font-size: 18px;
}

.ai-selection ul {
  list-style-type: none;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.ai-selection ul li {
  margin: 5px;
}

.ai-selection .ai-type li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  font-size: 14px;
  font-weight: normal;
  padding: 8px 10px;
  background-color: #3b4b58;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.ai-selection .ai-type li a:hover {
  background-color: #4a5d72;
}

.ai-selection a:active {
  background-color: #1abc9c;
}

main {
  grid-area: main;
  width: 100%;
  transition: margin-left 0.3s ease;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  padding: 5px;
  margin: 0 5px;
}

.CodeMirror {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 300px;
}

.code-box {
  /* grid-column: 1/2; */
  height: fit-content;
  background-color: #333;
  color: #fff;
  padding: 15px;
  overflow-x: auto;
  border-radius: 10px;
  cursor: pointer;
}

#codeBox-above-space {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  margin-bottom: -5px;
}

.link-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 50%;
}

.link-btn:hover {
  background-color: #006605;
}



#markdown-preview {
  min-height: 550px;
  height: auto;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  background: #333;
  overflow-y: auto;
  resize: vertical;
}

/* Markdown Preview Styles */
#markdown-preview h1 {
  font-size: 20px;
  color: #4caf50;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: underline;
}

#markdown-preview h2 {
  font-size: 16px;
  color: #45a049;
  margin: 0.8em 0;
}

#markdown-preview ul {
  margin-left: 20px;
}

#markdown-preview li {
  margin: 0.5em 0;
}

#markdown-preview code {
  background: #242430;
  padding: 2px 5px;
  border-radius: 3px;
}

footer {
  grid-area: footer;
  /* grid-column: span 2; */
}

/* Mobile styles */
@media (max-width: 480px) {
  #home-page {
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-columns: 1fr;
  }

  .left-aside {
    width: 250px;
    height: fit-content;
    position: fixed; 
    top: 60px; 
    left: 0;
    height: calc(100vh - 60px);
    transition: left 0.3s ease;
    /* transform: translateX(-250px); */
    left: -250px;
    z-index: 999;
  }

  .left-aside.menu-slide {
    /* transform: translateX(0); */
    left: 0;
  }

  .content {
    grid-template-columns: 1fr;
    margin: 0 5px;
  }
}
