{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static '/styles/gemini_api_cb.css' %}" />
    <title>GEMINI API CHATBOT</title>
  </head>
  <body id="gemini-api-cb-page">

    <main id="main-content">
      <div class="content">
        <div class="chat-box">
          <div class="chat-box-header">
            <h2>ASK ME ANYTHING...</h2>
            <button id="expand-collapse-btn"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></button>
          </div>
          <div class="chat-messages">
            <div class="suggested-question-box">
              <p class="suggested-question one">What is Machine Learning?</p>
              <p class="suggested-question two">What is AGI?</p>
            </div>
          </div>
          <div class="chat-input-container">
            <textarea id="user-input" placeholder="Ask any Question here..."></textarea>
            <button id="send-button"><i class="fa-solid fa-arrow-up"></i></button>
          </div>
          <div class="select-model">
            <select>
              <option value="" disabled selected>Select a model</option>
              <option value="model1">Gemini Flash 1.5</option>
            </select>
          </div>
        </div>
        <div class="code-box">
          <div id="codeBox-above-space">
            <h2>GEMINI API CHATBOT</h2>
            <button type="button" title="copy code" id="copy-code-btn"><i class="fa-regular fa-copy"></i></button>
          </div>
          <textarea id="python-code-editor" style="display: none"></textarea>
          <div id="python-data-container" data-python-url="{% static 'python/gemini_api_cb.py' %}"></div>
        </div>
      </div>

      <div id="markdown-preview">
        <div class="view-docs">
          <h3>DOCUMENTATION</h3>
          <button type="button" class="view-docs-btn"><i class="fa-solid fa-chevron-down"></i></button>
        </div>
        <div id="markdown-data-container" data-markdown-url="{% static 'markdown/chatbots.md' %}"></div>
      </div>
    </main>

    <script src="{% static 'scripts/gemini.js' %}"></script>
    <script src="{% static 'scripts/gemini_api_cb.js' %}"></script>
  </body>
</html>
