{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/theme/dracula.min.css" />

    <!-- CodeMirror JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/addon/edit/closebrackets.min.js"></script>

    <!-- parsing markdown lib-->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="{% static 'styles/footer.css' %}" />

    <link rel="icon" href="{% static 'assets/favicon/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static '/styles/gemini_docs_analyzer.css' %}" />
    <title>GEMINI DOCUMENT ANALYZER</title>
  </head>
  <body>
    <header>
      <a href="{% url 'home' %}"><img id="brand-logo" src="{% static 'assets/logo/eai.webp' %}" alt="brand-logo" /></a>
    </header>
    <nav>
      <a href="{% url 'nvidia_docs_analyzer' %}">NVIDIA DOCS ANALYZER</a>
      <a href="{% url 'gemini_docs_analyzer' %}">GEMINI DOCS ANALYZER</a>
    </nav>
    <main>
      <div class="content">
        <div class="chat-box">
          <h2>ASK ME ANYTHING...</h2>
          <div class="chat-messages">
            <div class="suggested-question-box">
              <p class="suggested-question one">Summarize this Document?</p>
              <p class="suggested-question two">What is written in this docs?</p>
            </div>
          </div>
          <div class="chat-input-container">
            <div class="file-upload-container">
              <label for="input_file" class="upload-label">
                <i class="fa-solid fa-paperclip"></i>
              </label>
              <input type="file" id="input_file" name="input_file" multiple accept=".txt,.csv,.json,.pdf" />
              <span id="file-name"></span>
              <button id="remove-file" aria-label="Remove file" title="Remove file">x</button>
            </div>
            <textarea id="user-input" placeholder="Ask any Question here..."></textarea>
            <button id="send-button"><i class="fa-solid fa-arrow-up"></i></button>
          </div>
          <div class="select-model">
            <select>
              <option value="" disabled selected>Select a model</option>
              <option value="model1">Gemini Flash 1.5</option>
            </select>
          </div>
        </div>
        <div class="code-box">
          <div id="codeBox-above-space">
            <h2>GEMINI DOCS ANALYZER</h2>
            <button type="button" title="copy code" id="copy-code-btn"><i class="fa-regular fa-copy"></i></button>
          </div>
          <textarea id="python-code-editor" style="display: none"></textarea>
          <div id="python-data-container" data-python-url="{% static 'python/gemini_docs_analyzer.py' %}"></div>
        </div>
      </div>

      <div id="markdown-preview">
        <h3>DOCUMENTATION</h3>
        <div id="markdown-data-container" data-markdown-url="{% static 'markdown/docs_analyzer.md' %}"></div>
      </div>
    </main>

    <footer>{% include 'includes/footer.html' %}</footer>

    <script src="{% static 'scripts/gemini.js' %}"></script>
    <script src="{% static 'scripts/gemini_docs_analyzer.js' %}"></script>
    <script src="{% static 'scripts/gemini_input_file.js' %}"></script>
  </body>
</html>
