
/* .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
} */

.CodeMirror {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 500px;
}

.code-box {
  /* grid-column: 1/2; */
  height: fit-content;
  background-color: #333;
  color: #fff;
  padding: 15px;
  overflow-x: auto;
  border-radius: 10px;
}

#codeBox-above-space {
  display: grid;
  grid-template-columns: auto 100px;
  gap: 10px;
}

.copy-code-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 5px 7px;
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 50%;
}

.copy-code-btn:hover {
  background-color: #006605;
}


#markdown-preview {
  min-height: 550px;
  height: auto;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  background: #333;
  overflow-y: auto;
  resize: vertical;
}

/* Markdown Preview Styles */
#markdown-preview h1 {
  font-size: 20px;
  color: #4caf50;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: underline;
}

#markdown-preview h2 {
  font-size: 16px;
  color: #45a049;
  margin: 0.8em 0;
}

#markdown-preview ul {
  margin-left: 20px;
}

#markdown-preview li {
  margin: 0.5em 0;
}

#markdown-preview code {
  background: #242430;
  padding: 2px 5px;
  border-radius: 3px;
}


/* @media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    padding: 10px;
  }
} */

