{% load static %}

<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="col one">
        <p>About Us</p>
        <ul>
          <li>
            <a href="{% url 'about_us' %}">About Us <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </li>
        </ul>
      </div>
      <div class="col two">
        <p>Support</p>
        <ul>
          <li>
            <a href="{% url 'contact_us' %}">Contact Us <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </li>
        </ul>
      </div>
      <div class="col three">
        <p>Privacy Policy</p>
        <ul>
          <li>
            <a href="{% url 'privacy_policy' %}">Privacy Policy <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </li>
        </ul>
      </div>
      <div class="col four">
        <p>Terms of Use</p>
        <ul>
          <li>
            <a href="{% url 'terms_of_use' %}">Terms of Use <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-vcenter">
      <p>Follow Us:</p>
      <ul class="social-links">
        <li>
          <a href="https://x.com/ka_r_an5" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ka-r-an5/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://github.com/knkrn5" target="_blank"><i class="fa-brands fa-github"></i></a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Explator AI. All rights reserved.</p>
    </div>
  </div>
</footer>

<link rel="stylesheet" type="text/css" href="{% static 'styles/footer.css' %}" />
