/* Add your CSS styles here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #070034;
}

header {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
}
header h1 {
  cursor: pointer;
}

#brand-logo {
  height: 60px;
  width: auto;
  padding: 15px 10px;
  /* margin: 0 auto; */
  /* border-radius: 10px; */
  display: block;
}

@media (max-width: 480px) {
  #brand-logo {
    height: 50px;
    width: auto;
    padding: 0;
    margin: 0 auto;
    display: block;
  }
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  /* justify-content: center; */
  justify-content: start;
  overflow-x: auto;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  transition: 0.3s ease;
  white-space: nowrap;
}

nav a:not(:last-child) {
  border-right: 1px solid #fff;
}

nav a:hover {
  background-color: #555;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.CodeMirror {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 520px;
  resize: vertical;
}
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar {
  width: 0px;
}

.code-box {
  /* grid-column: 1/2; */
  height: fit-content;
  background-color: #333;
  color: #fff;
  padding: 15px;
  overflow-x: auto;
  border-radius: 10px;
}

#codeBox-above-space {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  margin-bottom: -5px;
}

#copy-code-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 5px 7px;
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 50%;
}

#copy-code-btn:hover {
  background-color: #006605;
}

.chat-box {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  resize: vertical;
  /* overflow-y: auto; */
}

.chat-box::-webkit-resizer {
  width: 20px;
  height: 20px;
  background-color: #666;
  cursor: ns-resize;
}

.chat-box h2 {
  color: #fff;
}

.chat-messages {
  /* flex-grow: 1; */
  height: 1500px;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #242430;
  gap: 10px;
}

.suggested-question-box {
  display: flex;
  width: 100%;
  gap: 10px;
}

.suggested-question {
  width: fit-content;
  color: #4caf50;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.suggested-question:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.chat-message {
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
  background-color: red;
  /* word-wrap: break-word; */
}

.chat-message pre {
  background-color: #333;
  padding: 10px;
  margin-top: -15px;
  border-radius: 5px;
  overflow-x: auto;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
}

.chat-message code {
  display: block;
  background-color: #111;
  padding: 1px 4px;
  border-radius: 3px;
  overflow-x: auto;
  width: fit-content;
}

.chat-message h1 {
  font-size: 1.5em;
}
.chat-message h2 {
  font-size: 1.3em;
}
.chat-message h3 {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 4px;
}

.chat-message h4 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 2px;
}

.chat-message h5,
.chat-message h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.chat-message p {
  border: 0px #000;
  /* margin-top: 0px; */
  margin-bottom: 0px;
}

.chat-message ul {
  margin-top: -5px;
  margin-bottom: -25px;
  padding-left: 20px;
}
.chat-message ol {
  margin-top: -5px;
  margin-bottom: -10px;
  padding-left: 25px;
}

.chat-message li {
  margin-top: -5px;
  margin-bottom: -2px;
}

.chat-message a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  background-color: #000;
  padding: 0px 4px;
  border-radius: 3px;
}
.chat-message a:hover {
  text-decoration: underline;
}

.chat-message table,
.chat-message th,
.chat-message td {
  border: 1px solid #fff;
  overflow-x: auto;
}

.chat-message.user {
  background-color: #106802;
  color: white;
  align-self: flex-end;
}

.chat-message.bot {
  background-color: #333;
  color: #ccc;
  /* border: 1px solid #ccc; */
  align-self: flex-start;
  white-space: pre-wrap;
}

.chat-input-container {
  display: flex;
  padding: 10px;
  background-color: #242430;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
}

/* .file-upload-container {
    border: 1px solid #ccc;
  } */

/* Hide the actual file input */
#input_file {
  display: none;
}

/* Style the label to make it look like a button */
.upload-label {
  display: inline-block;
  margin-right: 5px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

/* Change background color on hover */
.upload-label:hover {
  background-color: #0056b3;
}

/* Icon inside the label */
.upload-label i {
  margin-right: 8px;
  font-size: 18px;
  vertical-align: middle;
}

/* File name display */
#file-name {
  display: inline-block;
  margin-top: 5px;
  /* border: 1px solid #ccc; */
  padding: 3px;
  border-radius: 5px;
  font-size: 14px;
  color: #eee;
  /* width: 50px;
    overflow-x: auto; */
}

#file-name::-webkit-scrollbar {
  display: none;
}

#remove-file {
  color: #fff;
  border: 1px solid #fff;
  width: fit-content;
  height: fit-content;
  background: #000;
  font-size: medium;
  padding: 0px 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  display: none;
}

#remove-file:hover {
  background: #fff;
  color: #000;
  font-weight: bold;
}

.chat-input-container textarea {
  width: 100%;
  min-height: 100px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #242430;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: background-color 0.2s ease;
  resize: none;
}

.chat-input-container::placeholder {
  color: #999;
}
.chat-input-container:focus {
  background-color: #2a2a35;
}

#user-input:disabled {
  cursor: not-allowed;
}

#send-button {
  background-color: #4caf50;
  height: fit-content;
  width: fit-content;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  transition: 0.3s ease;
}

#send-button:hover {
  background-color: #005804;
}

#send-button:disabled {
  background-color: #cccccc;
  font-weight: bold;
  color: #4caf50;
  cursor: not-allowed;
}

.select-model {
  height: 300px;
  border: 1px solid #ccc;
  margin-top: 5px;
  border-radius: 10px;
  background: #333;
  overflow-y: auto;
}

.select-model select {
  width: 100%;
  height: 100%;
  background: #242430;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
}

#markdown-preview {
  min-height: 550px;
  height: auto;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  background: #333;
  overflow-y: auto;
  resize: vertical;
}

/* Markdown Preview Styles */
#markdown-preview h1 {
  font-size: 20px;
  color: #4caf50;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: underline;
}

#markdown-preview h2 {
  font-size: 16px;
  color: #45a049;
  margin: 0.8em 0;
}

#markdown-preview ul {
  margin-left: 20px;
}

#markdown-preview li {
  margin: 0.5em 0;
  margin-left: -25px;
}

#markdown-preview code {
  background: #242430;
  padding: 2px 5px;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .suggested-question-box {
    display: block;
  }
}

@media (max-width: 480px) {
  .chat-message pre {
    max-width: 200px;
    width: 90%;
    box-sizing: border-box;
  }
}
