{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/theme/dracula.min.css" />

    <!-- CodeMirror JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/addon/edit/closebrackets.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="{% static 'styles/footer.css' %}"> 


    <link rel="icon" href="{% static 'assets/favicon/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static '/styles/fine_tuning.css' %}" />
    <title>ALIBABA MODELS</title>
  </head>
  <body>
    <header>
      <a href="{% url 'home' %}"><img id="brand-logo" src="{% static 'assets/logo/eai.webp' %}" alt="brand-logo" /></a>
    </header>
    <nav>
      <a href="{% url 'alibaba' %}">ALIBABA MODELS</a>
      <a href="{% url 'meta' %}">META MODELS</a>
      <a href="{% url 'openai' %}">OPENAI MODELS</a>
      <a href="{% url 'google' %}">GOOGLE MODELS</a>
      <a href="{% url 'custom_models' %}">CUSTOM MODELS</a>
      
    </nav>
    <main>
      <div class="content">
        <div class="code-box">
          <div id="codeBox-above-space">
            <h2>qwen2_1.5b</h2>
            <button type="button" title="copy code" class="copy-code-btn"><i class="fa-regular fa-copy"></i></button>
          </div>
          <textarea id="python-code-editor" style="display: none"></textarea>
          <div id="python-data-container" data-python-url="{% static 'python/local_models/alibaba/qwen2_1.5b.py' %}"></div>
        </div>
        <div class="code-box">
          <div id="codeBox-above-space">
            <h2>qwen_local_txt_data_analyzer</h2>
            <button type="button" title="copy code" class="copy-code-btn"><i class="fa-regular fa-copy"></i></button>
          </div>
          <textarea id="python-code-editor" style="display: none"></textarea>
          <div id="python-data-container" data-python-url="{% static 'python/local_models/alibaba/qwen_local_txt_data_analyzer.py' %}"></div>
        </div>
        <div class="code-box">
          <div id="codeBox-above-space">
            <h2>qwen_local_csv_data_analyzer</h2>
            <button type="button" title="copy code" class="copy-code-btn"><i class="fa-regular fa-copy"></i></button>
          </div>
          <textarea id="python-code-editor" style="display: none"></textarea>
          <div id="python-data-container" data-python-url="{% static 'python/local_models/alibaba/qwen_local_csv_data_analyzer.py' %}"></div>
        </div>
      </div>

      <div id="markdown-preview">
        <h3>DOCUMENTATION</h3>
        <div id="markdown-data-container" data-markdown-url="{% static 'markdown/local_models.md' %}"></div>
      </div>
    </main>

    <footer>{% include 'includes/footer.html' %}</footer>

    <script src="{% static 'scripts/fine_tuning.js' %}"></script>
  </body>
</html>
