{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static '/styles/fine_tuning.css' %}" />
    <title>GOOGLE MODELS</title>
  </head>
  <body>
    <main id="main-content">
      <div class="content">
        <div class="code-box">
          <div id="codeBox-above-space">
            <h2>bert_txt_reader</h2>
            <button type="button" title="copy code" class="copy-code-btn"><i class="fa-regular fa-copy"></i></button>
          </div>
          <textarea id="python-code-editor" style="display: none"></textarea>
          <div id="python-data-container" data-python-url="{% static 'python/local_models/google/bert_txt_reader.py' %}"></div>
        </div>
      </div>

      <div id="markdown-preview">
        <div class="view-docs">
          <h3>DOCUMENTATION</h3>
          <button type="button" class="view-docs-btn"><i class="fa-solid fa-chevron-down"></i></button>
        </div>
        <div id="markdown-data-container" data-markdown-url="{% static 'markdown/local_models.md' %}"></div>
      </div>
    </main>


    <script src="{% static 'scripts/fine_tuning.js' %}"></script>
  </body>
</html>
