/* About Us Section */

.about-container {
    /* height: fit-content; */
    background: #333;
    color: #fff;
    padding: 15px;
    /* overflow-x: auto; */
    border-radius: 10px;
}

.about-us h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-details {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
}

.about-text {
  flex: 1;
  text-align: left;
}

.about-text h2 {
  font-size: 1.8rem;
  margin-top: 20px;
}

.about-text p {
  font-size: 1.2rem;
  margin-top: 10px;
  line-height: 1.6;
}

.about-text ul {
  margin-top: 20px;
  list-style-type: disc;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .about-details {
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    text-align: center;
  }

  .about-image img {
    max-width: 100%;
  }
}
