


.contact-container{
    padding: 15px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    margin: 0 auto;
    border-radius: 8px;
}

.contact-container p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #ddd;
    text-align: center;
}

.contact-details ul {
    list-style: none;
    padding: 0;
}

.contact-details li {
    font-size: 1rem;
    margin: 10px 0;
    color: #ddd;
}

.contact-details a {
    color: #007BFF;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

/* Form Styles */
.contact-form {
    margin-top: 20px;
    background-color: #111;
    padding: 10px;
    border-radius: 10px;
}

.contact-form iframe{
    width: 100%;
}

.contact-form h2 {
    font-size: 1.8rem;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-container h1 {
        font-size: 2rem;
    }
}
