.footer-container {
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;
  align-items: center;
  padding: 0 20px;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.footer-top .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top .col p {
  font-weight: bold;
  text-align: center;
  margin-bottom: -15px;
}

.footer-top .col ul{
  list-style: none;
  text-align: center;
  padding: 0;
}

.footer-top .col ul li {
  margin: 0px;
  padding: 0px;
}

.footer-top .col ul li a {
  text-decoration: none;
  color: #4693ff;
  transition: all 0.3s ease-in-out;
}
.footer-top .col ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.footer-top ul li a i {
  font-size: 13px;
}

.footer-vcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.footer-vcenter p {
  font-weight: bold;
  margin-bottom: -20px;
}

.footer-vcenter ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  font-size: 27px;
  align-items: center;
  padding: 0;
}

.footer-vcenter ul li a i{
  color: #fff;
  transition: transform 0.3s ease-in-out;
  align-items: center;
}
.footer-vcenter ul li a i:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
}

@media (max-width: 768px) {
  .footer-top {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
