body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #070034;
}

#nvidia-api-cb-page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'header header'
    'aside main'
    'aside footer';
}

main {
  grid-area: main;
  width: 100%;
  transition: margin-left 0.3s ease;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  padding: 5px;
  margin: 0 5px;
}
.expand-collapse .content {
  grid-template-columns: 1fr;
}


.chat-box {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  resize: vertical;
}
.expand-collapse .chat-box{
  height: 90vh;
  width: 98%;
  margin: 0 auto;
  /* margin-top: -150px; */
}


.chat-box-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  color: #fff;
}

#expand-collapse-btn{
  background: #4caf50;
  color: white;
  border: none;
  padding: 5px 7px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

#expand-collapse-btn:hover {
  background-color: #005804;
}

.chat-messages {
  /* flex-grow: 1; */
  min-height: 300px;
  height: 300px;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #242430;
  gap: 10px;
  overflow-x: auto;
  resize: vertical;
}
.expand-collapse .chat-messages {
  height: 60vh
}

/* Custom Scrollbar for WebKit-based browsers */
.chat-messages::-webkit-scrollbar {
  width: 10px;
}
.chat-messages::-webkit-scrollbar-track {
  background: #555;
  border-radius: 5px;
}
.chat-messages::-webkit-scrollbar-thumb {
  background-color: #4caf50; 
  border-radius: 5px;
}
.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #3e8e41; 
}
.chat-messages::-webkit-scrollbar-corner {
  background: #fff;
}


.suggested-question-box {
  display: flex;
  width: 100%;
  gap: 10px;
}

.suggested-question {
  width: fit-content;
  color: #4caf50;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.suggested-question:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.chat-message {
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
  background-color: red;
  /* word-wrap: break-word; */
}

.chat-message pre {
  background-color: #333;
  padding: 10px;
  margin-top: -15px;
  border-radius: 5px;
  overflow-x: auto;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
}

.chat-message code {
  display: block;
  background-color: #111;
  padding: 1px 4px;
  border-radius: 3px;
  overflow-x: auto;
  width: fit-content;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
}

.chat-message h1 {
  font-size: 1.5em;
}
.chat-message h2 {
  font-size: 1.3em;
}
.chat-message h3 {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 4px;
}

.chat-message h4 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 2px;
}

.chat-message h5,
.chat-message h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.chat-message p {
  border: 0px #000;
  /* margin-top: 0px; */
  margin-bottom: 0px;
}

.chat-message ul {
  margin-top: -5px;
  margin-bottom: -25px;
  padding-left: 20px;
}
.chat-message ol {
  margin-top: -5px;
  margin-bottom: -10px;
  padding-left: 25px;
}

.chat-message li {
  margin-top: -5px;
  margin-bottom: -2px;
}

.chat-message a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  background-color: #000;
  padding: 0px 4px;
  border-radius: 3px;
}
.chat-message a:hover {
  text-decoration: underline;
}

.chat-message table,
.chat-message th,
.chat-message td {
  border: 1px solid #fff;
  overflow-x: auto;
}

.chat-message hr {
  margin: 0;
}

.chat-message.user {
  background-color: #106802;
  color: white;
  align-self: flex-end;
  word-break: break-word;
  overflow-wrap: break-word;

}

.chat-message.bot {
  background-color: #333;
  color: #ccc;
  /* border: 1px solid #ccc; */
  align-self: flex-start;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
}

.chat-input-container {
  display: grid;
  grid-template-columns: auto 55px;
  column-gap: 5px; 
  padding: 10px; 
  background-color: #242430;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.chat-input-container textarea {
  width: 100%;
  max-height: 100px;
  font-size: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
  background: #333;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: background-color 0.2s ease;
  resize: none;
}

/* Custom Scrollbar for WebKit-based browsers */
.chat-input-container textarea::-webkit-scrollbar {
  width: 10px;
}
.chat-input-container textarea::-webkit-scrollbar-track {
  background: #555;
  border-radius: 5px;
}
.chat-input-container textarea::-webkit-scrollbar-thumb {
  background-color: #4caf50; 
  border-radius: 5px;
}
.chat-input-container textarea::-webkit-scrollbar-thumb:hover {
  background-color: #3e8e41; 
}
.chat-input-container textarea::-webkit-scrollbar-corner {
  background: #fff;
}

.chat-input-container::placeholder {
  color: #999;
}
.chat-input-container:focus {
  background-color: #2a2a35;
}

#user-input:disabled {
  cursor: not-allowed;
}

.chat-input-container #send-button {
  background: #4caf50;
  justify-self: end;
  align-self: end;
  height: fit-content;
  width: fit-content;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.chat-input-container #send-button:hover {
  background: #005804;
}

.chat-input-container #send-button:disabled {
  background: #cccccc;
  font-weight: bold;
  color: #4caf50;
  cursor: not-allowed;
}

.select-model {
  height: 50px;
  border: 1px solid #ccc;
  margin-top: 5px;
  border-radius: 10px;
  background: #333;
  overflow-y: auto;
}

.select-model select {
  width: 100%;
  height: 100%;
  background: #242430;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
}

.CodeMirror {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 520px;
  resize: vertical;
}
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar {
  width: 0px;
}

.code-box {
  height: fit-content;
  background: #333;
  color: #fff;
  padding: 15px;
  overflow-x: auto;
  border-radius: 10px;
}

#codeBox-above-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#copy-code-btn {
  background: #4caf50;
  color: white;
  border: none;
  padding: 5px 7px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

#copy-code-btn:hover {
  background-color: #006605;
}


@media (max-width: 768px) {
  .suggested-question-box {
    display: block;
  }
}

@media (max-width: 480px) {
  .chat-message pre {
    max-width: 200px;
    width: 90%;
    box-sizing: border-box;
  }
}
