{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/theme/dracula.min.css" />

    <!-- CodeMirror JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/markdown/markdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/addon/edit/closebrackets.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="{% static 'styles/footer.css' %}" />

    <link rel="icon" href="{% static 'assets/favicon/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
    {% comment %}
    <link rel="stylesheet" href="{% static 'styles/home_nav.css' %}" />
    {% endcomment %}
    <title>Explanator AI</title>
  </head>
  <body id="home-page">
    <header>
      <button type="button" class="menu-btn"><i class="fa-solid fa-bars"></i></button>
      <a href="{% url 'home' %}"><img id="brand-logo" src="{% static 'assets/logo/eai.webp' %}" alt="brand-logo" /></a>
    </header>

    <nav class="left-aside">
      <div class="ai-selection">
        <ul>
          <li>
            <i class="fa-solid fa-robot"></i> CHATBOTS
            <ul class="ai-type chatbots">
              <li><a href="{% url 'nvidia_api_cb' %}">NVIDIA API CHATBOT</a></li>
              <li><a href="{% url 'gemini_api_cb' %}">GEMINI API CHATBOT</a></li>
            </ul>
          </li>
          <li>
            <i class="fa-regular fa-folder-open"></i> DOCS ANALYZER
            <ul class="ai-type docs-analyzers">
              <li><a href="{% url 'nvidia_docs_analyzer' %}">NVIDIA DOCS ANALYZER</a></li>
              <li><a href="{% url 'gemini_docs_analyzer' %}">GEMINI DOCS ANALYZER</a></li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-database"></i> DATASETS
            <ul class="ai-type datasets">
              <li><a href="{% url 'nvidia_api_prompt_generator_ds' %}">NVIDIA PROMPT GENERATOR</a></li>
              <li><a href="{% url 'gemini_api_prompt_generator_ds' %}">GEMINI PROMPT GENERATOR</a></li>
              <li><a href="{% url 'non_tokenized_datasets' %}">NON TOKENIZED DATASET</a></li>
              <li><a href="{% url 'tokenized_datasets' %}">TOKENIZED DATASET</a></li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-microchip"></i> FINE-TUNING
            <ul class="ai-type fine-tuning">
              <li><a href="{% url 'fine_tuning_via_CPU' %}">FINE TUNING VIA CPU</a></li>
              <li><a href="{% url 'fine_tuning_via_CUDA' %}">FINE TUNING VIA CUDA</a></li>
              <li><a href="{% url 'fine_tuning_via_TPU' %}">FINE TUNING VIA TPU</a></li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-laptop"></i> LOCAL MODELS
            <ul class="ai-type local-models">
              <li><a href="{% url 'alibaba' %}">ALIBABA</a></li>
              <li><a href="{% url 'meta' %}">META</a></li>
              <li><a href="{% url 'openai' %}">OPENAI</a></li>
              <li><a href="{% url 'google' %}">GOOGLE</a></li>
              <li><a href="{% url 'custom_models' %}">CUSTOM MODELS</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <div class="content">
        <div class="code-box">
          <div id="codeBox-above-space">
            <h2><i class="fa-solid fa-robot"></i> CHATBOTS</h2>
            <button type="button" title="chatbots" class="ai-options-btn">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <ul class="ai-options cb">
              <li><a href="{% url 'nvidia_api_cb' %}">NVIDIA API CHATBOT</a></li>
              <li><a href="{% url 'gemini_api_cb' %}">GEMINI API CHATBOT</a></li>
            </ul>
          </div>
          <textarea id="python-code-editor" style="display: none"></textarea>
          <div id="python-data-container" data-python-url="{% static 'python/nvidia_api_cb.py' %}"></div>
        </div>

        <div class="code-box">
          <div id="codeBox-above-space">
            <h2><i class="fa-regular fa-folder-open"></i> DOCS ANALYZER</h2>
            <button type="button" title="Docs analyzers" class="ai-options-btn">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <ul class="ai-options da">
              <li><a href="{% url 'nvidia_docs_analyzer' %}">NVIDIA DOCS ANALYZER</a></li>
              <li><a href="{% url 'gemini_docs_analyzer' %}">GEMINI DOCS ANALYZER</a></li>
            </ul>
          </div>
          <textarea id="python-code-editor" style="display: none"></textarea>
          <div id="python-data-container" data-python-url="{% static 'python/nvidia_docs_analyzer.py' %}"></div>
        </div>

        <div class="code-box">
          <div id="codeBox-above-space">
            <h2><i class="fa-solid fa-database"></i> DATASETS</h2>
            <button type="button" title="Datasets" class="ai-options-btn">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <ul class="ai-options ds">
              <li><a href="{% url 'nvidia_api_prompt_generator_ds' %}">NVIDIA PROMPT GENERATOR</a></li>
              <li><a href="{% url 'gemini_api_prompt_generator_ds' %}">GEMINI PROMPT GENERATOR</a></li>
              <li><a href="{% url 'non_tokenized_datasets' %}">NON TOKENIZED DATASET</a></li>
              <li><a href="{% url 'tokenized_datasets' %}">TOKENIZED DATASET</a></li>
            </ul>
          </div>
          <textarea id="python-code-editor" style="display: none"></textarea>
          <div id="python-data-container" data-python-url="{% static 'python/datasets/loading_wp_tokenized_datasets.py' %}"></div>
        </div>

        <div class="code-box">
          <div id="codeBox-above-space">
            <h2><i class="fa-solid fa-microchip"></i> FINE-TUNING</h2>
            <button type="button" title="fine tuning" class="ai-options-btn">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <ul class="ai-options ft">
              <li><a href="{% url 'fine_tuning_via_CPU' %}">FINE TUNING VIA CPU</a></li>
              <li><a href="{% url 'fine_tuning_via_CUDA' %}">FINE TUNING VIA CUDA</a></li>
              <li><a href="{% url 'fine_tuning_via_TPU' %}">FINE TUNING VIA TPU</a></li>
            </ul>
          </div>
          <textarea id="python-code-editor" style="display: none"></textarea>
          <div id="python-data-container" data-python-url="{% static 'python/fine_tuning_via_CPU/ft_gtp2_with_wp-data.py' %}"></div>
        </div>

        <div class="code-box">
          <div id="codeBox-above-space">
            <h2><i class="fa-solid fa-laptop"></i> LOCAL MODELS</h2>
            <button type="button" title="local models" class="ai-options-btn">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <ul class="ai-options lm">
              <li><a href="{% url 'alibaba' %}">ALIBABA</a></li>
              <li><a href="{% url 'meta' %}">META</a></li>
              <li><a href="{% url 'openai' %}">OPENAI</a></li>
              <li><a href="{% url 'google' %}">GOOGLE</a></li>
              <li><a href="{% url 'custom_models' %}">CUSTOM MODELS</a></li>
            </ul>
          </div>
          <textarea id="python-code-editor" style="display: none"></textarea>
          <div id="python-data-container" data-python-url="{% static 'python/local_models/meta/llama3.2_1b.py' %}"></div>
        </div>
      </div>

      <div id="markdown-preview">
        <div class="view-docs">
          <h3>DOCUMENTATION</h3>
          <button type="button" class="view-docs-btn"><i class="fa-solid fa-chevron-down"></i></button>
        </div>
        <div id="markdown-data-container" data-markdown-url="{% static 'markdown/homepage.md' %}"></div>
      </div>
    </main>

    <footer>{% include 'includes/footer.html' %}</footer>

    <script src="{% static 'scripts/home.js' %}"></script>
    <script src="{% static 'scripts/home_nav.js' %}"></script>
  </body>
</html>
