{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CodeMirror CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/theme/dracula.min.css"
    />

    <!-- CodeMirror JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/addon/edit/closebrackets.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/footer.css' %}"
    />

    <link
      rel="icon"
      href="{% static 'assets/favicon/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{% static '/styles/nvidia_docs_analyzer.css' %}"
    />
    <title>NVIDIA URL READER</title>
  </head>
  <body>
    <header>
      <a href="{% url 'home' %}"
        ><img
          id="brand-logo"
          src="{% static 'assets/logo/eai.webp' %}"
          alt="brand-logo"
      /></a>
    </header>
    <nav>
      <a href="{% url 'nvidia' %}">NVIDIA</a>
      <a href="{% url 'nvidia_docs_analyzer' %}">NVIDIA DOCS ANALYZER</a>
      <a href="{% url 'nvidia_url_reader' %}">NVIDIA URL READER</a>
    </nav>
    <main>
      <div class="content">
        <div class="chat-box">
          <h2>ASK ME ANYTHING TO RELATED URL...</h2>
          <div class="chat-messages">
            <div class="suggested-question-box">
              <p class="suggested-question one">
                What is this wealthpsychology?
              </p>
              <p class="suggested-question two">
                What modules are available in this site?
              </p>
            </div>
          </div>
          <div class="chat-input-container">
            <div class="file-upload-container">
              <label for="input_file" class="upload-label">
                <i class="fa-solid fa-paperclip"></i>
              </label>
              <input type="file" id="input_file" name="input_file" />
              <span id="file-name"></span>
            </div>

            <textarea
              id="user-input"
              placeholder="Ask any Question here..."
            ></textarea>
            <button id="send-button">
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
          <div class="select-model">
            <select>
              <option value="" disabled selected>Select a model</option>
              <option value="model1">nvidia/llama-3.1-nemotron-70b-instruct</option>
              <option value="model2">meta/llama-3.3-70b-instruct</option>
              <option value="model3">mistralai/mixtral-8x7b-instruct-v0.1</option>
              <option value="model4">nv-mistralai/mistral-nemo-12b-instruct</option>
              <option value="model5">nvidia/nemotron-4-340b-instruct</option>
            </select>
          </div>
        </div>
        <div class="code-box">
          <div id="codeBox-above-space">
            <h2>NVIDIA URL READER</h2>
            <button type="button" title="copy code" id="copy-code-btn">
              <i class="fa-regular fa-copy"></i>
            </button>
          </div>
          <textarea id="python-code-editor" style="display: none"></textarea>
          <div
            id="python-data-container"
            data-python-url="{% static 'python/nvidia_url_reader.py' %}"
          ></div>
        </div>
      </div>

      <div id="markdown-preview">
        <h3>DOCUMENTATION</h3>
        <div
          id="markdown-data-container"
          data-markdown-url="{% static 'markdown/nvidia.md' %}"
        ></div>
      </div>
    </main>

    <footer>{% include 'includes/footer.html' %}</footer>

    <script src="{% static 'scripts/script.js' %}"></script>
    <script src="{% static 'scripts/nvidia_url_reader.js' %}"></script>
    <script src="{% static 'scripts/nvidia_docs_analyzer.js' %}"></script>
  </body>
</html>
